/* MAIN COLORS

 Teal Blue:          #388087
 Moonstone Blue:     #6FB3B8
 Powder Blue:        #BADFE7
 Magic Mint;         #C2EDCE
 White Smoke:        #F6F6F2

 TEST:
 BLACK:         #1a2639
 DARK GREY:     #3e4a61
 ORANGE/RED:    #c24d2c
 WHITE:         #d9dad7

 */

/* ----------------------------------------------------------------------------------------------------------------- */
/* Navigation Buttons on map */
.map_nav_buttons, .map_zoom_button {
    -fx-background-color: rgba(26, 38, 57, 0.11);
    -fx-pref-width: 33.0;
}

.map_nav_buttons:hover, .map_zoom_button:hover {
    -fx-background-color: #c24d2c;
}

#nav_up, #nav_left, #nav_right, #nav_down, #zoom_in, #zoom_out {
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

/* All the icons comes from flaticon.com */
#nav_up { -fx-background-image: url(../icons/arrow_up.png); }
#nav_left { -fx-background-image: url(../icons/arrow_left.png); }
#nav_right { -fx-background-image: url(../icons/arrow_right.png); }
#nav_down { -fx-background-image: url(../icons/arrow_down.png); }
#zoom_in { -fx-background-image: url(../icons/plus.png); }
#zoom_out { -fx-background-image: url(../icons/minus.png); }

/* ----------------------------------------------------------------------------------------------------------------- */
/* The main Window */
.mainWindow {
    -fx-background-color: #f5f5f5;
}

/* ----------------------------------------------------------------------------------------------------------------- */
/* The Canvas Window */
#canvasWindow {
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 5px;
}

/* ----------------------------------------------------------------------------------------------------------------- */
/* The navigation menu */
.navigation {
    -fx-background-color: #1a2639;
}

.nav_button {
    -fx-background-color: #1a2639;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-pref-height: 55.0;
    -fx-pref-width: 55.0;
}

.nav_button:hover {
    -fx-background-color: #c24d2c;
}

.nav_button:selected {
    -fx-background-color: #c24d2c;
}

.nav_separator {
    -fx-pref-height: 0.0;
    -fx-pref-width: 55.0;
    -fx-background-color: white;
}

/* ----------------------------------------------------------------------------------------------------------------- */
/* Info box in TOP RIGHT corner: also include different labels */
#info_box {
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 5px;
    -fx-opacity: 92%;
    -fx-border-color: black;
    -fx-border-radius: 5px;
}

.info_label {
    -fx-padding: 3px;
    -fx-pref-height: 20.0;
    -fx-pref-width: 200.0;
}